body {
    background: linear-gradient(45deg, #062A4A, #1F5080);
    color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

.login-register {
    width: 50vw;
    height: 55vh;
    padding: 70px 27vw 20px 2vw;


    background-color: #FFFFFF;
    overflow: hidden;
}

.login-register input:not([type="checkbox"]) {
    min-width: 90%;
    height: 60px;
    border-radius: 10px;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
}

#connexion,
#inscrire {
    background-color: #0B3357;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: white;
}

.bienvenue {
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    background-color: #093052;
    border-radius: 0 20px 20px 0;
}

.rond {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    font-size: 60px;

}

#register-form {
    top: 0;
    left: -30vw;
    width: 30vw;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 20px 0 0 20px;


}

input {
    height: 70px;
    border: 1px solid rgba(84, 85, 87, 0.3);
    padding-left: 20px;
}

input:focus {
    outline: none;
    border: 1px solid rgba(84, 85, 87, 1);
}

input::placeholder {
    font-size: 20px;
}

button {
    width: 500px;
}

/* Lien target------------------------*/
#register:target #register-form {
    transform: translateX(30vw);
}


@media screen and (max-width: 2150px) {

    .login-register {
        width: 80vw;
        height: 65vh;
        padding: 70px 36vw 20px 1vw;
    }

    .bienvenue {
        width: 35vw;
    }

    #register-form {
        top: 0;
        left: -45vw;
        width: 45vw;


    }

    #register:target #register-form {
        transform: translateX(45vw);
    }

    .h1 {
        font-size: 28px;
    }

    .h2 {
        font-size: 24px;
    }

    .rond {
        width: 120px;
        height: 120px;
        background-color: white;
        border-radius: 50%;
        font-size: 60px;

    }
}

@media screen and (max-width: 1300px) {

    .login-register {
        width: 800px;
        height: 1000px;
        padding: 30px 370px 20px 20px;
    }

    .bienvenue {
        width: 350px;
    }

    #register-form {
        top: 0;
        left: -450px;
        width: 450px;


    }

    .inscrip {
        width: 80%;
    }

    #register:target #register-form {
        transform: translateX(450px);
    }

    .h1 {
        font-size: 28px;
    }

    .h2 {
        font-size: 24px;
    }

    input:not[type="radio"] {
        width: 350px;
    }
}

@media screen and (max-width:768px) {
    .login-register {
        width: 90vw;
        height: 90vh;
        padding: 26vh 1vw 1vh 1vw;

    }

    .bienvenue {
        top: 0;
        left: 0;
        width: 90vw;
        height: 25vh;
    }

    #register-form {
        width: 90vw;
        top: 25vh;
        left: -90vw;


    }
    #register:target #register-form {
        transform: translateX(90vw);
    }
    .rond {
        width: 80px;
        height: 80px;
        font-size: 30px;

    }
    .bienvenue{
        padding: 10px;
    }
    .bienvenue > :nth-child(2){
        padding: 20px;
    }
    #register-form form{
        padding: 20px;
        gap: 15px;
    }
}